@use "../sass/variables.scss" as colors;

.collapse {
  color: colors.$primary-color;

  &__description {
    display: flex;
    flex-direction: row;
    gap: 75px;

    &__details {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
