@use "../sass/utils/variables.scss" as colors;

.apartment {
  color: colors.$primary-color;

  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    color: colors.$terciary-color;
  }

  &__page {
    display: flex;

    &__title {
      flex-grow: 1;
    }

    &__tags {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 35%;
      gap: 1rem;

      span {
        font-weight: 700;
        font-size: 14px;
        background-color: colors.$primary-color;
        color: colors.$secondary-color;
        border-radius: 10px;
        text-align: center;
        padding: 3px 0;
      }
    }
  }

  &__host {
    display: flex;
    flex-direction: column;
    align-items: end;
    h3 {
      font-weight: 500;
      font-size: 18px;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
    }
    &__details {
      display: flex;
      gap: 0.5rem;
    }

    &__badge {
      height: 64px;
      width: 64px;
      border-radius: 50%;
      background-color: #C4C4C4;
    }

    &__rate {
      display: flex;
      margin-top: 20px;
      gap: 10px;
    }
  }
}