@use "../../sass/variables.scss" as colors;

.collapse {
  &__description {

    &__title {
      display: flex;
      justify-content: space-between;
      background-color: colors.$primary-color;
      color: colors.$secondary-color;
      margin: 0;
      padding: 10px;
      border-radius: 10px;

      & span {
        font-size: 18px;
        font-weight: 700;
      }

      & svg {
        position: relative;
        top: 2px;
       & :hover {
        cursor: pointer;
       }
      }
    }
    &__details {
      overflow: hidden;
      margin-bottom: 10px;
    }

    &__content {
      position: relative;
      color: colors.$terciary-color;
      background-color: colors.$background-color-primary;
      margin: 0;
      padding: 20px;
      border-radius: 5px;
      z-index: -1;
      top: -10px;
      list-style-type: none;
      animation: slider 0.3s ease-in-out;
    }
  }
}

@keyframes slider {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}