.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color : #FF6060;
  & h2 {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
  }
  & p {
    font-size: 36px;
    font-weight: 500;
    padding: 4rem 0;
  }
  & .home {
    text-decoration: underline;
    color: black;
    font-size: 18px;
    padding-bottom: 4rem;
  }
}