.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding : 20px;
  height: 200px;
  align-content: center;
}

.footer__logo img{
  width: 120px;
  height: auto;
}

.footer__text {
  font-size: 24px;
  font-weight: 500px;
}