@use '../sass/utils/variables.scss' as colors;

.grid {
  background-color: colors.$background-color-primary;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 50px;
  & a {
    text-decoration: none;
  }
}


@media (max-width: 1250px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}