.rental {
  background-image: linear-gradient(to bottom, #FF6060, #CC4D4D);
  border-radius: 10px;
  flex-basis: 28%;
  display: grid;
  align-items: end;
  min-width: 330px;
  min-height: 255px;

}

.rental__title {
  margin: 0 0 0.5rem 0.5rem;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  width: 30%;
}