@use '../../sass/variables.scss' as colors;

.footer {
  background-color: colors.$terciary-color;
  color: colors.$secondary-color;
  text-align: center;
  padding: 20px;
  height: 200px;
  align-content: center;

  &__text {
    font-size: 24px;
    font-weight: 500px;
  }

  &__logo img {
    width: 120px;
    height: auto;
  }
}

@media screen and (max-width: 780px) {
  .footer {
    &__text {
      font-size: 12px;
    }
  }
}
