@use '../../sass/variables.scss' as colors;

.rental {
  display: grid;
  align-items: end;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  .rental-img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    min-height: 255px;
  }

  &__title {
    margin: 0 0 0.5rem 0.5rem;
    font-size: 18px;
    font-weight: 700;
    color: colors.$secondary-color;
    width: 50%;
    position: absolute;
    text-shadow: 
    1px 1px 0px black,  
    -1px -1px 0px black,  
    1px -1px 0px black,  
    -1px 1px 0px black;
  }
}
